.cardContainer {
    width: 38rem;
    margin: 0 auto;
}

.card {
    border-radius: 0 !important;
    border-top: 0 !important;
    cursor: pointer;
    transition: 100ms;
}

.card:hover {
    background-color: darkgray;
}

.tweetButton {
    display: flex;
    justify-content: flex-end;
}

.tweetButton .btn {
    width: 100px !important;
}